/.metadata/
# Ignore compiled output folders
# bin/
# **/bin/

# .classpath
# .project
# .settings/

# **/.classpath

# **/.project/
# **/.settings/

# Ignore Eclipse-related files
.classpath
.project
.settings/

# Ignore build/output directories
bin/
build/
out/

# Ignore IDE configs
.vscode/
.idea/
*.iml

# OS and logs
.DS_Store
Thumbs.db
*.log
